.container {
  max-width: 1920px;
  width: 100%;
  margin: 50px auto;
  font-family: "ArchyEDT-Bold", sans-serif;
}

.navigacion {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigacion_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  font-size: 20px;
}

.hero-img {
  width: 85%;
  margin: 60px auto;
}
.hero-img img {
  width: 100%;
}
.popular-web {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: #707070;
  margin-left: 140px;

}

.main-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
  justify-content: space-between;
  
  margin: 50px auto;
  width: 85%;
  
}


.main-section-people {
 max-width: 483px;
 width: 100%;
 margin: 0 auto;
 position: relative;
 height: 563px;
 box-shadow: 5px 10px #ebe9e9;

}

.main-section-people img {
  width: 100%;
  
}

.main-section-people h1 {
  font-size: 30px;
  color: #707070;
  padding-left: 12px;
  padding-top: 20px;
}

.main-section-people p {
  font-size: 18px;
  padding-left: 12px;
  padding-top: 33px;

}

.main-section-people span {
  font-size: 24px;
  position: absolute;
  right: 13px;
  bottom: 35px;

}

.load-more {
  font-size: 30px;
  color: #707070;
  text-align: center;
  margin-top: 52px;
  

}

.footer {
  width: 100%;
  background-color: #2E2E2E;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.contacts {
  color: #fff;
  font-size: 13px;
}
.contacts p {
  font-size: 20px;
}

.footer-icone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.nav-li-icone {
  display: none;
}
.hero-img-res {
  width: 100%;
  margin: 22px auto;
display: none;
}
.more-none {
  display: none;
}


@media ( 
  max-width:1024px 
) {
  .main-section-people {
    /* margin-top: 32px; */
    margin: 32px auto;
  }
  .popular-web {
    margin-left:300px
  
  }
  .nav-li-icone {
    display: block;
  }
  
  .navigacion_list {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .hero-img-res {
    display: block;
  }
  .footer-logo {
    display: none;
  }
  .footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around
  }
  .more-none {
    display: block;
    margin-bottom: 28px;
  }

}



